{% extends 'base.html' %}

{% block content %}

<div class="profile-container">
    <div class="profile-sidebar">
        {% if user.profile_pic %}
            <img src="{{ user.profile_pic.url }}" alt="Profile Pic" class="avatar">
        {% else %}
            <img src="/static/images/default-avatar.jpg" class="avatar" alt="Profile Pic">
        {% endif %}
    </div>

    <div class="profile-main-content">
        {% if active_role == 'employer' %}
            {% include 'user_profile/includes/edit_employer_profile.html' %}
        {% else %}
            {% include 'user_profile/includes/edit_employee_profile.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}